<% layout('../layout/boilerplate') -%>

<div class="container col-md-6 mx-auto mt-5 ">
  <h3>Grievance Status</h3>
  <% if (grievance) { %>
    <p><strong>ID:</strong> <%= grievance._id %></p>
    <p><strong>Name:</strong> <%= grievance.name %></p>
    <p><strong>Email:</strong> <%= grievance.email %></p>
    <p style="color: green;"><strong>Status:</strong> <%= grievance.status %></p>
  <% } else { %>
     <p style="color: red;"><%= error %></p>
  <% } %>
